@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
html{
    scroll-behavior: smooth;
    font: 62.5%;
}
/* @font-face {
    font-family: 'WhaleITried'; to use later
    src: url('/fonts/whale-i-tried/Whale\ I\ Tried\ -\ TTF.ttf'); URL to the font
} */


:root{
    /*--Colours--*/
    --main-colour: #990100;
    --accent-colour: #1F1D89;
    --white: #fff;
    --white-smoke: #f5f5f5;
    --grey: #f5f5ff;
    --pitch-black: #000000;

    /*--font sizes--*/
    --fs-200: 1.25rem;
    --fs-400: 1.5rem;
    --fs-xl: clamp(3rem, 12vw + 1rem, 5rem);
    --fs-sm: .5rem

}
 /* font sizes for repsonsive layout*/
 @media (min-width: 40em) {
    :root{
        --fs-200: 1.25rem;
        --fs-400: 1.5rem;
        --fs-xl: 4rem;
        --fs-sm: .5rem
    }
    h1{
        font-size: var(--fs-xl);
        font-weight: 400;
    }
    .banner-overlay h2{
        letter-spacing: .1rem;
    } 
 }
body{
    margin:0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-smoke);
}
body ::selection{
    background-color: var(--main-colour);
    color: var(--grey);
}
.border-primary{
    border-top: .2rem solid var(--accent-colour)!important;
}
.my-primary{
    background-color: var(--accent-colour);
}
/*---scrollbar--*/
::-webkit-scrollbar {
    width: .85em;    
  }  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white-smoke);
    /*border-radius: 50vw;*/ 
  }   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-colour);
    border-radius: .5em;
    border: .2em solid var(--white-smoke);
  }
/*---Reusable CSS classes--*/
.banner-overlay{
    position: relative;
    text-align: center;
}
.banner-overlay h2 { 
    position: absolute; 
    font-weight: 600;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-smoke);
    letter-spacing: 2rem;
    text-transform: uppercase;         
}
.banner-overlay::before {
    content:"";
    display: block;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
}
.banner-overlay img{
    width: 100%;
    height: 22rem;
    object-fit: cover;
}
/*Typography*/
h1{
    font-size: var(--fs-xl);
    font-weight: 400;

}
h2{
    font-size: var(--fs-400);
    font-weight: 350;
}
h3{
    font-weight: 200;
}
h5{
    font-size: 1.5rem;
    font-weight: 300;
}
.p1{
    font-size: var(--fs-400);
    font-weight: 300;
}
.p2{
    font-size: var(--fs-200);
    font-weight: 200;
}
/*-Button*/
.msingi-btn{
    /*display: inline-block;*/
    background: var(--accent-colour);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: var(--fs-200);
    padding: 8px 16px;
    border: none;
    border-radius: 15rem;
    width: 10em;
    cursor: pointer;
    box-shadow: 0 8px 50px rgba(0,0,0,0.2);
    transition: all 0.7s;
}
.msingi-btn:hover{
    background: var(--main-colour);
    color: var(--white);
    box-shadow: 0 8px 50px rgba(0,0,0,0.2);
    transform: scale(1.1);   
    transition: 0.7s;

}
/*---Navigation bar---*/

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color:var(--main-colour);
    padding: 5 !important;
    position: relative;
    z-index: 20;
}
.navbar-brand img{
    height: 120px;
    padding-left: 14px;
    position: absolute;  
    top: 0px;   
    left: 0px;
    width: 150x;
    padding: 10px;
    z-index: 30;      
}
.navbar-nav li{
    padding: 0 10px;
} 
.navbar-nav li a{
    float: right;
    text-align: right;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .2rem;
}
.navbar .active{
    color: var(--accent-colour)!important;
    font-weight: 600;
}
.nav-link {
    color: var(--white) !important;
}
.nav-item{
    position: relative;
}
.nav-item a:hover{
    color: var(--accent-colour)!important;
    font-weight: 500;
}
.nav-item a:hover::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: .4s;
}
.nav-item a:hover::before{
    width: calc(100% - 1rem);
}

.fa-bars{
    color: var(--white) !important;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none;
    border-color: transparent;
}
/*----carousel----*/
#hero-banner .w-100 {
  width: 100% !important;
  max-height: 40em;
}
#hero-banner .carousel-inner img{
    object-fit: cover;
}
#hero-banner .carousel-item::before {
    content:"";
    display: block;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
}

/*carousel transition*/
.carousel-item-next,
.carousel-item-next,
.carousel.item.active{
    transition: transform 1.2s ease;
}
#hero-banner .btn-primary{
    color: var(--accent-colour)!important;
    
}
/*--about us--*/
.motto-statement{
    font-weight: 600;
}
#about-us{
    background-color: var(--white);
}
.border-danger{
    border-top: .2rem solid var(--accent-colour)!important;
}
#about-us .inner{
    overflow: hidden;
}
#about-us img{
    width: 100%;
    max-height:25rem;
    margin-bottom: 10%;
    object-fit: cover;
    box-shadow: #404040;    
    transition: all 1.5s ease;    
}
#about-us .inner:hover img{
    transform: scale(1.5);

}
/*--programs--*/

#programs{
    /*background-color: var(--main-colour);*/
    padding: 20px;
    display: block;
    object-fit: fill;
}
/*#programs h1{
    letter-spacing: 1px;
}*/
#programs h4 a{
    text-decoration: none;
    color: var(--main-colour);
}
#programs h4 a:hover{
    text-decoration: underline;
}
.border-light{
    border-top: .2rem solid var(--accent-colour)!important;
}
#programs .container{
    margin-top: 10%;
} 
.program-card .btn-danger{
    opacity: 0;
}
.program-card:hover .btn-danger{
    opacity: 1;
    transform: translateY(0px);
}
#programs .card{
    border: none;
    margin-top: 20px;
    transition: all 0.7s;
}
#programs .card:hover{
    box-shadow: 0 8px 50px rgba(0,0,0,0.2);
    transform: scale(1.1);   
    transition: 0.7s;
}
#programs .card-body{
    background-color:var(--white);
    border-radius: 50px;
}
#programs .program-card{
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15 );
}
#programs .card-title{
    color: var(--pitch-black);
}
#programs .card-text {
    color:var(--pitch-black);
}
#programs p a{
    text-decoration: none;
    color: var(--main-colour)
}
#programs p a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#programs .card a{
    text-decoration: none!important;
}
#programs .card p{
    text-decoration: none!important;
    color: var(--pitch-black);
}
#programs img{   
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    height: 40vh;
}
#programs .btn{
    color: var(--accent-colour)!important;
    background-color: var(--white);
    border: none;
    border-radius: 0;
}
#programs i{
    color: var(--accent-colour)!important;
}
/*---Events---*/
#events{
    background-color: var(--white);
}
#events h1{
    letter-spacing: 1px;
}
#events img{
    object-fit: cover;
    width: 100%;
    height: 70vh;
}
#events .btn-danger{
    border: none;
    background-color:var(--white);
    /*border-bottom: 2px solid var(--accent-colour);*/
    color: var(--accent-colour);
    border-radius: 0;
    bottom: 0;
    top: auto;
    transition: all 0.1;
}
#events .btn-danger:hover{
    transform: scale(1.1);
    transition: 0.1;
}
/*Our Staff--*/
#staff{
    background-color: var(--white-smoke);
}
#staff img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto 20px;    
    margin-top: -50px;
    object-fit: cover;
    overflow: hidden;    
}
#staff h1{
    letter-spacing: 1px;
}
#staff i{
    font-size: 26px;
    color: var(--pitch-black);
}
#staff p{
    font-weight:500; 
}
#staff .card{
    border-radius: 0;
    box-shadow: 5px 5px 15px var(--main-colour);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
#staff .card:hover{
    background: var(--main-colour);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px var(--main-colour);
}
#staff .card:hover h3,#team .card:hover i{
    color:var(--white);
}

/*--Testimonials--*/
#testimonials{
    margin: 0;
    padding: 0;
    background-color: var(--white);
}
#testimonials h1{
    letter-spacing: 1px;
}
#testimonials i{
    font-size: 30px;
}
#testimonials .card img{
    height: 20vh;
    object-fit: cover;
}
#testimonials .card{
    position: relative;
    margin-bottom: 50px;
}

/*--Gallery--*/
#gallery{
    background-color: var(--white);
}
#gallery h1{
    letter-spacing: 1px;
}
.item img{
    object-fit: cover;
    max-height: 15rem;
    transition: .5s ease-in-out;
}
.item{
    transition: .5s ease-in-out;
}
.item:hover{
    filter: brightness(50%);
    transform: rotate(-5deg);
}

/*--Events/Blogs cards--*/
#blogs{
    background-color: var(--grey);
}
#blogs .card{
    border: none;
    overflow: hidden;
}
#blogs .card img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    max-height: 18rem;
}
#blogs .card a{
    text-decoration: none;
    color: var(--accent-colour);
}
#blogs .card a:hover{
    text-decoration: underline;
}

/*--Footer--*/
footer{    
    width: 100%;
}
.page-footer a{
    color: var(--white-smoke);
}
.footer-copyright{
    background: var(--main-colour);    
}
.footer-copyright p{
    color: var(--white-smoke);
}
.page-footer li{
    color: var(--white-smoke);
    font-family: 'Poppins', sans-serif;
}
.page-footer h3{
    color: var(--main-colour)!important;
}
.page-footer p{
    color: var(--white-smoke);
}
.page-footer hr{
    color: var(--white);
}
.page-footer a{
    text-decoration: none;
}
/*----Programs page---*/

#programs-list img{
    object-fit: cover;
    width: 100%;
    height: 50vh;
}
#twiga{
    background-color: var(--white);
}
#simba{
    background-color: var(--white);
}
#kifaru{
    background-color: var(--white);
}
#mbuni{
    background-color: var(--white);
}
#mbuni img{
    object-fit: contain;
}
.curriclum-title{
    font-family: WhaleITried;
    justify-content: center !important;
    text-align: center !important;
}
.programs-content p{
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
}
.programs-content img{
    width: 100%;
    height: 70vh;
}
/*---Register Page---*/
#registration img{
    object-fit: cover;
    width: 100%;
    height: 50vh;
}
#contact-us{
    position: relative;
}
#contact-us h1{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 3em;
    line-height: 48px;
}
.contact-form{
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15 );
}
.contact-form .form-field{
    position: relative;
    margin: 20px 0;
}
.contact-form .input-text{
    display: block;
    width: 50%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: var(--accent-colour);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.non-empty + .label
.contact-form .input-text:focus{
    transform: translateY(-24px);
}
.contact-form .input-text:focus{
    outline: none;
}
.contact-form .label{
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: var(--pitch-black);
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}
.contact-form iframe{
    height: 100%;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15 );
}


/*--About-US Page----*/

.icon-large{
    font-size: 60px;
    color: var(--accent-colour);
}
#about-us-content h1{
    letter-spacing: .3rem;
}
#intro{
    background-color: var(--white-smoke);
    width: 100%;
}
#intro .border-danger{
    color: var(--accent-colour)!important;
}
#intro .border-light{
    color: var(--accent-colour)!important;
}
#activities-offered .card{
    border-radius: 10px;
    box-shadow: 0 8px 50px rgba(0,0,0,0.2);
}
.activity-cards img{
    padding: 0!important;
    margin: 0!important;
    object-fit: cover;
}
.about-us-container{
    background-color: var(--accent-colour);
    border-radius: 5px;
    margin-top: -50px;
    overflow: hidden;
}
.about-us-container h3{
    color: var(--white);
    font-weight: 300;
}
.about-us-container p{
    bottom: 0!important;
    color: var(--white);
}
.mission, .vision{
    background-color: var(--white);
}
.facilities p{
    display: block;
}
.facilities img{
    object-fit: cover;
    height: 25vh;
    width: 100%;
    border-radius: 10px;
}
.breakfast h3, .lunch h3, .snacks h3{
    background-color: var(--accent-colour);
    border-radius: 10px;
    color: var(--white);
}

/*Events/Blog page*/
#events-blog-content .card img{
    transition: all 0.7s ease;
}
#events-blog-content .card img:hover{
    transform: scale(1.1);   
    transition: 0.7s;
    
}
#events-blog-content .card img{
    max-height: 16rem;
}
#events-blog-content .card-title a{
    color: var(--accent-colour);
    text-decoration: none;
}
#events-blog-content .card-title a:hover{
    color: var(--main-colour);
    text-decoration: underline;
}
/*-Individual blog post-*/
.blog-content li{
    font-size: var(--fs-400);
}
.blog-content li a{
    text-decoration: none;
    color: var(--accent-colour);
    
}
.blog-content li a:hover{
    color: var(--main-colour);
    text-decoration: underline;
}
.blog-socials i{
    color: var(--accent-colour);
}
.socials i:hover{
    color: var(--main-colour)
}
.blog-content img{
    max-height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}
/*--coming soon page--*/
#hero img{
    max-height: 20vh;
}
/*--media query to hide carousel-caption and reduce letter spacing on small screens--*/
@media  (max-width:40em) {
    .carousel-caption p{
        display: none;
    }
    .banner-overlay h2{
        letter-spacing: .5rem;
        font-weight: 300;
    }
    .program-card .btn-danger{
        opacity: 1;
    }

}

/* -- Firefox Bud fix --*/
.carousel-item{
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s eaase;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"]{
    padding: 1rem;
}





/*
Extra small (xs) devices (potrait phoness, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width:768px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



